spring:
  application:
    name: PRODUCT-SERVICE
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/products
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      port: 6379
      host: localhost

aws:
  s3:
    bucket-name: ${AWS_S3_BUCKET_NAME}
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
    region: ${AWS_REGION:ap-southeast-1}