spring:
  application:
    name: PRODUCT-SERVICE
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/products
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      port: 6379
      host: localhost